/*
	Gradient blocks
*/

// $bg-grad-red: $deep-red;
$bg-grad-red: $common-red;
$bg-grad-green: $common-green;
$grad-steps: 6;

.gradient-block .pigr__pod {
  p {
    color: $white;
  }
}

// STEPS: CHANGE COLOUR
// Using mix() function to change colour accross the items:
@for $i from 0 to $grad-steps {
  .pigr__pod.gradient-block__inner--0#{$i} {
    background: mix($bg-grad-red,
        $bg-grad-green,
        percentage($i / ($grad-steps - 1)));
  }
}

// GRAD STEPS: SAME COLOUR
// @for $i from 0 to $grad-steps {

//   .pigr__pod.gradient-block__inner--0#{$i} {
//     background-color: lighten(red, $i * 5);
//   }
// }