/*
*   Base settings for global component elements - initiate common features such as branding etc.
*/

@mixin compColours($compBgColour, $compBgOpacity, $compBorderSize, $compBorderOpacity) {
    background-color: lighten($color: $compBgColour, $amount: $compBgOpacity);
    border: $compBorderSize solid lighten($color: $compBgColour, $amount: $compBorderOpacity);
}

@mixin HeaderFooterCommon {
    @include compColours($colours_safe-red-hex, 50, 5px, 45);
    // padding: calc(var(--common-size) - 5) calc(var(--common-size)/2);
    padding: $common-size_scss - 10 $common-size_scss/2;
    @include boxShadow();
    // @include boxShadow(50, 10px, 10px);    // lightened/offset/blurred

    .pigr-pod {
        @include compColours($black, 100, 5px, 90);
    }
}