/*
*   Colouring for Example elements.
*/

// Colouring of elements
@mixin compColours($compBgColour, $compBgOpacity, $compBorderSize, $compBorderOpacity) {
    background-color: lighten($color: $compBgColour, $amount: $compBgOpacity);
    border: $compBorderSize solid lighten($color: $compBgColour, $amount: $compBorderOpacity);
}

// Convenience mixin for Header and Footer elements (keeping it DRY) - Combines compColour with padding and a drop-shadow
@mixin HeaderFooterCommon {
    // NOTE: using var(--whatever-colour) in a mixin breaks the compiler - tried with interpolation but nada.
    // This is being debugged for next version. Used Hex val instead.
    // @include compColours(var(--deep-red), 50, 5px, 45);
    @include compColours($deep-red, 50, 5px, 45);
    padding: calc(var(--common-size)/2);
    @include boxShadow();
}