/*
*   Global Header settings - named elements
*/

// Named regions
.global {

	&__header {
		@include displayMode(grid);
		margin-top: $gutter;
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"home-anchor utility-nav"
			"home-anchor primary-nav";

		// Header elements - unhooked from BEM purely for use as Grid named elements
		.homelink {
			grid-area: home-anchor;
			@include displayMode(grid);

			.brand-image {
				width: 60px;
				height: auto;
				border-top-right-radius: 50%;
				border-bottom-left-radius: 50%;
				align-self: end;
				transition: all .15s ease;

				// Tablet-up
				@include pigrPoint(tabletMinUp) {
					width: 90px;
				}
			}

			&:hover {
				.brand-image {
					border-top-right-radius: 40%;
					border-bottom-left-radius: 40%;
				}
			}
		}

		.primary-nav,
		.utility-nav {
			list-style-type: none;
			margin: 0;
			padding: 0;
			justify-self: end;

			li {
				float: left;
				margin-right: 10px;
				line-height: 1.1;

				&:last-child {
					margin-right: 0;
				}
			}

			a {
				font-size: 110%;
				color: #222;
			}
		}

		// .primary-nav {
		// 	grid-area: primary-nav;
		// 	align-self: end;
		// }
		// .utility-nav {
		// 	grid-area: utility-nav;
		// 	align-self: center;
		// }
	}
}