.pigr {

	// DEMO:	applies bg colours, border and drop-shad, typographical settings
	//				also applies labels as '::before' pseudo elements
	&__DEMO {

		// NESTED row elements
		.pigr__row {
			padding: calc(var(--common-size)/2) 0;

			&--nested {
				.pigr__pod {
					@include compColours($black, 80, 5px, 50);
				}
			}
		}

		.pigr__pod {
			@include compColours($black, 90, 5px, 75);
			@include boxShadow();
			justify-content: center;
			// padding: calc(var(--common-size)/5);
			padding: 0 calc(var(--common-size)/2);
			position: relative; // this is for the ::before pseudo el's

			// @mixin for example labels top-left
			@mixin exampleLabels($bgCol: rgba(0, 0, 0, .45), $textCol: $white) {
				background: $bgCol;
				color: $textCol;
				letter-spacing: 0.05em;
				text-shadow: 1px 1px 0 $black;
			}

			// Add labels - auto/undefined width
			&::before {
				@include cta(ctaPod, -10px);
				content: 'col-span: auto';
				@include exampleLabels;
			}

			// Add labels - defined width e.g. pigr__row--X > pigr__pod--Y
			@for $i from 1 through 12 {
				&--#{$i} {
					&::before {
						@include cta(ctaPod, -10px);
						content: 'col-span: #{$i}';
						@include exampleLabels;
					}
				}
			}
		}

		.pigr__footer {
			@include HeaderFooterCommon;
			margin-bottom: calc(#{$gutter}/1.15);

			// Tablet-up
			@include pigrPoint(tabletMinUp) {
				margin-bottom: $gutter;
			}
		}
	}
}