.pigr {
	// Pods - DEMO: Applies bg colours, border and drop-shad
	&__DEMO {

		.pigr__header {
			@include HeaderFooterCommon;
    	margin-top: 5vh;
		}
		.pigr__footer {
			@include HeaderFooterCommon;
    	margin-bottom: 5vh;
		}

		.pigr__pod {
			@include compColours($black, 90, 5px, 75);
			@include boxShadow();
			justify-content: center;
			padding: calc(var(--common-size)/3);
			position: relative;	// this is for the ::before pseudo el's

			// @mixin for example labels top-left
			@mixin exampleLabels($bgCol: rgba(0,0,0,.45), $textCol: $white) {
				background: $bgCol;
				color: $textCol;
				letter-spacing: 0.05em;
				text-shadow: 1px 1px 0 $black;
			}

			// Add labels - auto/undefined width
			&::before {
				@include cta(ctaPod, -10px);
				content: 'col-span: auto';
				@include exampleLabels;
			}

			// Add labels - defined width e.g. pigr__row--X > pigr__pod--Y
			@for $i from 1 through 12 {
				&--#{$i} {
					&::before {
						@include cta(ctaPod, -10px);
						content: 'col-span: #{$i}';
						@include exampleLabels;
					}
				}
			}

			// NESTED row elements
			.pigr__row {
				padding: calc(var(--common-size)/3);

				.pigr__pod {
					@include compColours($black, 80, 5px, 60);
				}
			}

		}
	}
}