.layout-wrapper {

    // Full width
	&--full-w {
		max-width: 100%;
		@include zero-down;
  }
  // Full v-height
  &--full-vh {
    @include displayMode(flex);
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100vh;

    @include pigrPoint(tabletMinUp){
			height: 70vh;
		}
  }
	// Full kitten kaboodle
	&--full-vwh {
		max-width: 100vw;
		height: 100vh;
		@include zero-down;
	}
}