/*
	Common colours and colour settings - hex and rgba
*/

:root{
	--common-size: 30px;
	--font-common-red: #ff0000;
	--font-deep-red: #990000;
}
$white: #ffffff;
$black: #000000;
// $black42: #424242;

$colours_common-red: #ff0000;
$colours_deep-red: #990000;
$colours_safe-red-hex: #990000;
$colours_safe-red-rgb: rgb(153, 0, 0);
$colours_foff-green: #00ff00;
$colours_foff-pink: #ff00ff;