/*
*	Typographic specific settings here.
*/
$font-family_fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family_full: 'Roboto', $font-family_fallback;
$font-size_common: 15;
$font-weight_common: 400;
$font-weight_heavy: 500;

body {
	font-family: $font-family_full;
	font-size: rem-calc($font-size_common);
	line-height: 1.5;
	word-break: break-word;
}

// Copy etc.
p, li { color: lighten($color: $black, $amount: 25); }
p {
	.pigr-pod & { margin: 0; }
}