/*
*	Typographic specific settings here.
*/
$font-family_fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family_full: 'Roboto', $font-family_fallback;
$font-size_common: 15;
$font-weight_common: 400;
$font-weight_heavy: 500;

body {
	margin: 0;
	font-family: $font-family_full;
	font-size: rem-calc($font-size_common);
	line-height: 1.5;
	word-break: break-word;
}

// map headings - h1/.h1 etc...
@each $heading, $size in $mapHeadings {
	#{$heading},
	.#{$heading} {
		font-size: rem-calc($size);
		margin-top: 0;
		margin-bottom: calc(var(--common-size)/3);
  }
}

// Copy etc.
p, li { color: lighten($color: $black, $amount: 25); }
p { margin-top: 0; }
.lead {
	font-size: rem-calc(16);
	line-height: 1.6;
	margin-bottom: calc(var(--common-size)/2);
}
a { @include linkCommon; }
.footnote {
	font-size: 95%;
	color: lighten($color: $black, $amount: 40);
	padding-top: calc(var(--common-size)/2);
	// border-left: solid 4px lighten($color: $black, $amount: 80);
	// padding: calc(var(--common-size)/2) 0 calc(var(--common-size)/2) calc(var(--common-size)/2);
}
strong {
	font-weight: $font-weight_heavy;
	color: $black;
}
.flat { @include flattenBase; }

// Lists etc
ul {
	list-style-type: none;
	@include zero-down;
}
li {
	margin-bottom: calc(var(--common-size)/4);
	padding-left: calc(var(--common-size)/2);
	position: relative;

	&:last-child { margin-bottom: 0; }

	// anim list blim
	&::before {
		content: '»';
		font-size: rem-calc(16);
		line-height: 1;
		color: lighten($color: #000000, $amount: 50);
		position: absolute;
		top: calc(var(--common-size)/10);
		left: calc(var(--common-size) * -.005);
		transition: all .2s ease-in-out;
	}

	&:hover {
		&::before {
			left: calc(var(--common-size) * .09);
			color: lighten($color: #000000, $amount: 10);
		}
	}
}

.flat-list { @include flat-list; }

// misc
blockquote {
	line-height: 1.3;
	color: red;
	@include zero-down;
	border: none;

	&.large {

		@include pigrPoint(deskMinUp) {
			margin-top: calc(var(--common-size)*1.5);
			margin-bottom: calc(var(--common-size) * 1.75);
		}
	}
}